* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    padding-left: 20px;
    padding-right: 20px;
    margin: auto;
}

@media (max-width: 760px) {
    .container {
        width: 100%;
    }
}

@media (min-width: 760px) {
    .container {
        width: 750px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}
@media (min-width: 992px) {
    .container {
        width: 950px;
    }
}


ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

header {
    width: 100%;
    height: 70px;
    background-color: white;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid black;
}

header .container .main-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .container .logo {
    flex-basis: 1;
    color: chocolate;
    font-size: 25px;
    font-weight: bold;
}
header .container .logo a{
    color: chocolate;
}

header .container .main-nav li {
    padding: 30px;
    position: relative;
}
header .container .main-nav li a{
    color: black;
    transition: all .5s;
}

header .container .main-nav li::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 3px;
    width: 0;
    background-color: chocolate;
    transition: all .5s;
}

header .container .main-nav li:hover::before {
    width: 100%;
}

header .container .main-nav li:hover a{
    color: chocolate;
}

.main {
    width: 100%;
    height: calc(100vh - 70px);
}

.test {
    width: 500px;
    background-color: antiquewhite;
    padding: 20px;
    position: relative;
}

.test .img {
    width: 100px;
    position: absolute;
    top: -40px;
    right: -40px;
    border-radius: 50%;
    border: 10px solid black;
}

.test .img img {
    width: 100%;
    border-radius: 50%;

}